<div class="card">
  <div class="card-body">
    <h5 class="card-title">Task Management System</h5>
    <hr>
    <p class="card-text">
      <%= @greeting %>
    </p>
    <p class="card-text">
      <strong>Sorry! </strong> A task with ID: <%= @task.id %> and named: <%= @task.task_name %>, assigned by you,
      has been Deleted by Admin.
    </p>
    <br>
    <p>For more details contact Admin.
    <hr>
    <p> Best,</p>
    <p>Task Management System Team</p>
    <p class="red">
      Note: This is a auto generated email. Please do not reply to this email.
    </p>
  </div>
</div>
