<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Task Management System</h1>
    <p><%= @greeting %></p>
    <p>
      Congratulation, You are now resistered with Task Management System
    </p>
    <p>
      Now you can login via: <%= @user.email %>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>
    </p>
    <p>Thanks You and have a great day!</p>

    <p>
      See you online
      Task Management System Team
    </p>
  </body>
</html>