<% content_for :title, "Tasks" %>
<h1 class="text-center">MY TASKS</h1>
<div class="page-wrapper">
  <div class="tasklist-wrapper">
    <div class="card card-6">
      <div class="card-body">
        <div class="task-list">
          <div class="row">
            <% unless current_user.hr%>
              <div class="col-12 col-sm-4 task-index-col text-center">
                <%= link_to "CREATE TASK", new_task_path, class: "btn btn-primary btn-lg", data: {turbolinks: false} %>
              </div>
              <div class="col-12 col-sm-4 task-index-col text-center">
                <%= link_to "BACK", users_dashboard_path, class: "btn btn-secondary btn-lg" %>
              </div>
            <% end %>
            <div class="col-12 col-sm-4 task-index-col text-center">
              <div class="form-group row">
                <% priorities=["Low", "Medium", "High", "In progress", "Submitted", "Approved", "Pending"]%>
                <span class="fa fa-filter col-3 text-right"></span>
                <div class="col-7 text-right">
                  <%= select_tag(:priority, options_for_select(priorities), prompt:"All", class:"form-control btn btn-outline-success text-center") %>
                </div>
                <div class="col-2"></div>

                <div class="col-12 col-sm-8 col-md-4"></div>
              </div>
            </div>
          </div>
          <%= render "tasks/task_list"%>
        </div>
      </div>
    </div>
  </div>
</div>
