<% content_for :title, "Admin Dashboard" %>
<div class="container">
  <h1 class="text-center">Admin Dashboard</h1>
  <br />
  
  <div class="row">
    <% if current_user.admin %>
      <div class="col-sm-12 col-md-4">
        <div class="text-center">
          <%= link_to users_path, class: " box btn btn-success" do%>
            <div class="dashboard-wrapper">
              <div class="fa fa-users" aria-hidden="true"></div>
              <h2>Users</h2>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="text-center">
          <%= link_to categories_path, class: "box btn btn-danger" do%>
            <div class="dashboard-wrapper">
              <div class="fa fa-tag" aria-hidden="true"></div>
              <h2>Category</h2>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="text-center">
          <%= link_to tasks_path, class: "box btn btn-info" do%>
            <div class="dashboard-wrapper">
              <div class="fa fa-tasks" aria-hidden="true"></div>
              <h2>Tasks</h2>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>