<div class="banner">
  <div class="banner-text">
    <h1 class="text-center">Task Management System</h1>
  </div>
</div>
<% unless current_user %>
  <div class="login-wrapper">
    <div class="wrapper">
      <div class="card card-5">
        <div class="card-body">
          <h1 class="title text-center">USER LOGIN</h1>
          <div class="row">
            <div class="form-group col-md-12 text-center align-items-center">
              <%= link_to login_path, class: "btn btn-primary signin-btn" do %>
                <%= image_tag("google.png", class:"google-icon") %>
                <span>Sign in with Google Account</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
