// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/..

.page-wrapper {
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 100px;
}