@import "/*";
@import "bootstrap/dist/css/bootstrap";
@import "font-awesome";

a,
a:hover{
  text-decoration: none;
}
.wrapper{
  margin:0 auto;
  max-width: 700px;
}
#notice_wrapper{
  position: absolute;
  text-align: center;
  // width: 100%;
  z-index: 999;
  bottom: 0;
  right: 0;
  font-size: 20px;
}
.card-5{
  max-width: 1000px;
  min-width:300px;
  width:auto;
}
.card-6{
  width:auto;
}
.card{
  word-wrap: normal;
}
.fa{
  font-size: 30px;
  text-decoration: none;
}
.fa-trash{
  color: #DC143C;
}
.fa-edit{
  color: #1E90FF;
}
.fa-check{
  color: #00ff00;
}
.fa-eye, .fa-eye:hover{
  color: #f3dc0a;
  text-decoration: none;
}
.fa-eye:hover,
.fa-edit:hover,
.fa-trash:hover,
.fa-check:hover{
  color: #ffffff;
  text-decoration: none;
}
.fa-minus-circle{
  color: #f10404;
}
.fa-minus-circle:hover,
.fa-plus:hover{
  color: #000000;
  text-decoration: none;
}
.fa-users, 
.fa-tasks,
.fa-tag,
.fa-pencil-square-o,
.fa-check-square,
.fa-check-circle{
  font-size: 74px;
}
.signin-btn{
  font-size: 26px;
  border-radius: 50px;
}
.modal-footer{
  display: block;
}
.table{
  width: 95%;
  margin: auto;
}
.notification-menu{
  max-height: 400px;
  min-width: 450px;
  overflow-y: scroll;
  overflow-x:hidden;
  scrollbar-width: none;
  // padding-top: 20px;
}
.dropdown-item{
  padding: 10px 20px 5px;
}
.dropdown-item:hover{
  background-color: #444141;
  color:#ffffff;
}

.menu-header{
  position: fixed;
  height: 30px;
  border: 1px solid #646060;
  width: 100%;
}
.btn-orange{
  color: #ffffff;
  background-color: #f15b04;
  border-color: #f15b04;
}
.btn-orange:hover{
  color: #ffffff;
  background-color: #bb5013;
  border-color: #bb5013;
}
// .btn{
//   border-radius: 25px;
// }
.box{
	height: 150px;
	width: 270px;
	font-size: 24px;
  margin: 15px 10px;
  border-radius: 25px;
}
@media screen and (min-width: 768px){
  .my-col{
    padding-left: 10px;
    padding-right: 5px;
  }
  .assign-col{
    padding-left:25px;
  }
  .attach-control{
    padding: 0;
    height: auto;
  }
  .attach-lebel{
    padding-right: 0;
  }
  .container{
    max-width: 1900px;
    margin: 0 auto;
  }
}
