@import "/*";
@import "bootstrap/dist/css/bootstrap";
@import "font-awesome";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 400 14px/1.5 "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
ul{
  list-style: none;
}
a,
a:hover{
  text-decoration: none;
}
.navbar {
  padding-top: 0;
  height: 60px;
  z-index: 1;
  background-color: #343a40;
  box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.3);
}
.navbar-brand{
  font-size: 16px;
  color: #ffffff;
  font-weight: bolder;
}
.navbar-toggler{
  border: none;
  padding: 0;
}
.navbar-toggler-icon {
  font-size: 23px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler:focus{
  outline:none;
}
#navbarSupportedContent{
  position: absolute;
  width: 100%;
  top:60px;
  left: 0;
}
.nav-item {
  background-color: #343a40;
  padding-top: 4px;
}
.nav-item:focus{
  outline: none;
}
.nav-item a{

  // color: #ffffff;
  font-size: 16px;
}
.select-center{
  text-align-last: center;
}
.profile-circle{
  border-radius: 50%;
}
.blank-circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.dropdown-toggle::before{
  content: none;
}
.search-field{
  padding:5px 30px;
}
.submit-search{
  padding-top: 10px;
}
.wrapper{
margin:0 auto;
max-width: 700px;
}
.nav-link{
  color: #ffffff;
}
#notice_wrapper{
  position: absolute;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  z-index: 1;
  left:20%;
  font-size: 24px;
}
.notice-text{
  font-size: 24px;
  font-weight: bolder;
}
.card-5{
  max-width: 1000px;
  min-width:300px;
  width:auto;
}
.card-6{
  width:auto;
}
.card{
  word-wrap: normal;
}
.fa{
  font-size: 30px;
  text-decoration: none;
}
.fa-trash{
  color: #DC143C;
}
.fa-edit{
  color: #1E90FF;
}
.fa-check{
  color: #00ff00;
}
.fa-eye, .fa-eye:hover{
  color: #f3dc0a;
  text-decoration: none;
}
.fa-mobile{
  font-size: 50px;
  width: 50px;
}
.fa-envelope{
  width: 50px;
}
.fa-eye:hover,
.fa-edit:hover,
.fa-trash:hover,
.fa-check:hover{
  color: #ffffff;
  text-decoration: none;
}
.fa-minus-circle{
  color: #f10404;
}
.fa-minus-circle:hover,
.fa-plus:hover{
  color: #000000;
  text-decoration: none;
}
.fa-calendar{
  font-size: 21px;
}
.dashboard{
  .fa-users, 
  .fa-tasks,
  .fa-tag,
  .fa-pencil-square-o,
  .fa-check-square,
  .fa-check-circle{
    font-size: 74px;
  }
}
.signin-btn{
  border-radius: 50px;
}
.signin-btn span{
  font-size: 18px;
}
.table{
  width: 100%;
  margin: auto;
}
.notification-icon i{
  color: #ffffff;
  padding-left: 20px;
}
.notification-menu{
  max-height: 400px;
  width: 100%;
  width: 460px;
  overflow-y: scroll;
  overflow-x:hidden;
  scrollbar-width: none;
  position: absolute;
  border-radius: 5px;
  box-shadow: 2px, 2px  3px rgba(0,0,0,0.1);
}
.notification-body a{
  border-bottom: 1px solid #f8e8e8;
}
.notification-body a:nth-last-child(1){
  border-bottom: none;
}
.notify-content{
display: flex;
flex-wrap: wrap;
align-items: center;
padding: 0;
}
.notify-info{
  text-align: left !important;
}
.notify-info p{
 width: 200px;
}
.notify-image{
  margin-right: 15px;
}
.notify-content .notify-time{
  color: #c5c5a6;
  font-size: 12px;
}
.logout-menu{
  position: absolute;
  background-color: #343a40;
}
.dropdown-toggle{
  color: #ffffff;
}
.dropdown-item{
  color: #343a40;
  padding: 10px 20px 5px;
}
.index-table{
  max-height: 700px;
  overflow: auto;
}
.menu-header{
  position: fixed;
  height: 30px;
  border: 1px solid #646060;
  width: 100%;
}
.btn-orange{
  color: #ffffff;
  background-color: #f15b04;
  border-color: #f15b04;
}
.btn-orange:hover{
  color: #ffffff;
  background-color: #bb5013;
  border-color: #bb5013;
}
.box{
	height: 150px;
  width: 90%;
  max-width: 270px;
	font-size: 24px;
  margin: 15px 10px;
  border-radius: 25px;
}
@media screen and (min-width: 768px){
  
  .signin-btn span{
    font-size: 24px;
  }
  .my-col{
    padding-left: 10px;
    padding-right: 5px;
  }
  .assign-col{
    padding-left:25px;
  }
  .attach-control{
    padding: 0;
    height: auto;
  }
  .attach-lebel{
    padding-right: 0;
  }
  .container{
    max-width: 1900px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px){
  #navbarSupportedContent{
    position: relative;
    top:0;
  }
  .desktop-notify{
    height: 60px;
    margin-left: 25px;
    padding-top: 15px;
  }
  .nav-item {
    background:transparent;
    height: 60px;
    margin-top: 10px;
    padding-top: 10px;
    margin-left: 15px;
  }
  .nav-item a {
    font-size: 16px;
    font-weight: bold;
  }
  .search-field{
    padding:12px 10px 0 0;
  }
  .submit-search{
    padding: 0 10px 0 10px;
  }

}
