@import "/*";
@import "bootstrap";
@import "font-awesome";
@import "hamburgers/dist/hamburgers";
@import "./home.scss";
@import "./notifications.scss";
@import "./password_resets.scss";
@import "./sessions.scss";
@import "./sidenav.scss";
@import "./tasks.scss";
@import "./task-mailer.scss";
@import "./users.scss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 400 14px/1.5 "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
html{
  overflow-y: scroll;
}
main{
  min-height: calc(100vh - 60px - 45px);
}
ul{
  list-style: none;
}
a,
a:hover{
  text-decoration: none;
}
.navbar {
  padding-top: 0;
  height: 60px;
  z-index: 1;
  box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-brand{
  font-size: 17px;
  color: #ffffff;
  font-weight: bolder;
  padding-top: 10px;
}
.navbar-toggler{
  border: none;
  padding: 0;
  outline: none;
}
.navbar-toggler:focus{
  outline:none;
}
.navbar-toggler-icon {
  font-size: 23px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#navbarSupportedContent{
  position: absolute;
  width: 100%;
  top:60px;
  left: 0;
}
.nav-item {
  background-color: #343a40;
  padding-top: 4px;
  text-align: right;
  padding-right: 20px;
}
.nav-item:hover{
  background-color: #e8ebee;
}
.nav-item:focus{
  outline: none;
}
.nav-item a{
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
}
.nav-item:hover a{
  color: #1d1c1c;
}
.nav-dropdown{
  height: 40px;
  padding-top: 5px;
  width: 100%;
  text-align: right;
  padding-right: 20px;
}
.nav-dropdown a{
  font-weight: bold;
  font-size: 20px;
}
.notification-icon i{
  color: #ffffff;
  font-size: 30px;
  padding-top: 7px;
}
.notification-icon{
  margin-right: 10px;
}
#unread_count{
  background-color: #dc1414;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  margin-left: -10px;
  font-size: 12px;
  padding-top: 5px;
  font-weight: bold;
}
.notification-menu{
  position: absolute;
  max-height: 450px;
  width: 100%;
  min-width: 375px;
  max-width: 460px;
  overflow-y: scroll;
  overflow-x:hidden;
  scrollbar-width: none;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.1);
}
.notification-body a{
  border-bottom: 1px solid #f8e8e8;
}
.notification-body a:nth-last-child(1){
  border-bottom: none;
}
.notify-content{
display: flex;
flex-wrap: wrap;
align-items: center;
padding: 0;
}
.notify-info{
  text-align: left !important;
}
.notify-info p{
 width: 200px;
}
.notify-image{
  margin-right: 15px;
}
.notify-content .notify-time{
  color: #c5c5a6;
  font-size: 12px;
  
}
.login-btn{
  // padding-bottom: 15px;
  padding-top: 8px;
}
.logout-menu{
  position: absolute;
  background-color: #343a40;
  // left: 60px;
  .logout{
    padding-top: 12px;
    font-size: 20px;
    color: #f00f0f;
  }
}
.dropdown:hover .logout-menu{
  display: block;
}

.dropdown-item{
  color: #343a40;
  padding: 10px 20px 5px;
}
#notice_wrapper{
  position: absolute;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  left: 0;
  font-size: 24px;
}
.fa-plus{
    font-size: 22px;
}
.fa-trash, .fa-minus-circle{
  color: #DC143C;
}
.fa-edit{
  color: #1E90FF;
}
.fa-check{
  color: #00ff00;
}
.fa-eye{
  color: #f3dc0a;
  text-decoration: none;
}
.fa-filter{
  font-size: 30px;
}
.fa-eye:hover,
.fa-edit:hover,
.fa-trash:hover,
.fa-check:hover{
  color: #ffffff;
  text-decoration: none;
}
.fa-minus-circle:hover,
.fa-plus:hover{
  color: #000000;
  text-decoration: none;
}
.fa-calendar{
  font-size: 21px;
}
.table{
  width: 100%;
  margin: auto;
}
.index-table{
  max-height: 800px;
  overflow: auto;
}
.select-center{
  text-align-last: center;
}
.footer{
  width: 100%;
  height: 45px;
  background-color: #000000;
}
.copyright{
  color: #ffffff;
  margin-bottom: 0;
  padding-top: 10px;
}
@media screen and (min-width: 576px){
  .navbar-brand{
    font-size: 22px;
  }
}
@media screen and (min-width: 768px){
  
  #navbarSupportedContent{
    position: relative;
    top:0;
  }
  .navbar-collapse{
    max-width: 400px;
    right: 0;
  }
  .nav-item {
    background:transparent;
    height: 60px;
    margin-top: 6px;
    padding-top: 10px;
    margin-left: 5px;
    padding-right: 0;
  }
  .nav-item a {
    font-size: 20px;
    font-weight: bold;
  }
  .nav-dropdown{
    background: transparent;
    height: 60px;
    padding-top: 20px;
    margin-left: 10px;
    padding-right: 0;
  }
  .nav-dropdown a{
    font-weight: bold;
    font-size: 20px;
  }
  .logout-menu{
    right: 0;
  }
  .notification-icon{
    margin-right: 5px;
  }
  .notification-menu{
    margin-right: 210px;
  }
  .attach-control{
    padding: 0;
    height: auto;
  }
  .attach-lebel{
    padding-right: 0;
  }
  .container{
    max-width: 1900px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px){

}
