// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#notifications {
  .fa-tasks,
  .fa-check-circle,
  .fa-check-square{
    font-size:72px;
  }
}
.align-center{
  display: grid;
align-items: center;  
}
