// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.modal-content{
  min-width: 300px;
}
.popup-wrapper{
  min-width: 250px;
}
@media screen and (min-width:768px){
.modal-content{
  min-width: 700px;
  margin-top: 20%;
  left: -100px;
}
}

