.red{
  color: #f80404;
}
.yellow{
  color: #e0f804;
}
.green{
  color: #2df804;
}
.thead-dark{
  background-color: #3b3a3a;
  color: #ffffff;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}