// Place all the styles related to the task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.note{
  color: #e60000
}
.task-wrapper{
  margin:0 auto;
  max-width: 1000px;
}
.green{
  color: #03f738;
}
.red{
  color: #ff0000;
}
.index-container{
  width: auto;
  margin:auto;
}
.add-subtask{
  display: inline-block;
  color: #b11b34;
  font-size: 20px;
  font-weight: bolder;
  width: 90%;
}
.btn-subtask{
  margin-left: 20px;
}
.show-wrapper{
  margin: 0 auto;
  max-width: 1400px; 
}
.task-list{
  padding-top: 10px;
}
.task-item{
  font-size: 18px;
  font-weight: bolder;
  color: #2a00e6;
}
.task-item-details{
  font-size: 18px;
  font-weight: 400;
  color: #2f4132;
}
.task-item-row{
  padding: 10px 0;
}
.sub-task-row{
  background-color: #aeafae;
  // padding-left: 10%;
}
.subtask-item-details{
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}