.note{
  color: #e60000
}
.task-wrapper{
  margin:0 auto;
  max-width: 1000px;
}
.tasklist-wrapper{
  margin:0 auto;
  max-width: 1400px;
}
.green{
  color: #03f738;
}
.red{
  color: #ff0000;
}
.yellow{
  color: #fffb00;
}
.index-container{
  width: auto;
  margin:auto;
}
.add-subtask{
  display: inline-block;
  color: #b11b34;
  font-size: 20px;
  font-weight: bolder;
  width: 90%;
}
.btn-subtask{
  margin-left: 20px;
}
.task-show-wrapper{
  margin: 0 auto;
  max-width: 1400px;
  width: auto; 
}
.task-list{
  padding-top: 10px;
}
.task-item{
  font-size: 18px;
  font-weight: bolder;
  color: #2a00e6;
}
.task-item-details{
  font-size: 18px;
  font-weight: 400;
  color: #2f4132;
  text-align: justify;
  white-space: pre-wrap;
}
.task-item-row{
  padding: 10px 0;
}
.sub-task-row{
  background-color: #aeafae;
  // padding-left: 10%;
}
.subtask-item-details{
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: justify;
  white-space: pre-wrap;
}
.fa-pencil{
  font-size: 24px;
}
.task-index-col{
  margin: 10px auto 0;
  max-width: 500px;
}
.btn-create{
margin-top: 10px;
}
.subtask{
  border: 1px solid rgba(0,0,0,0.2);
  border-radius:25px;
  padding: 15px 15px 0 ;
  margin-top:10px
}
