// .signin-wrapper{
//   min-height: 100vh;
// }
@import "font-awesome";
.card-4{
  border-radius: 10px;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.15);
}
.title{
  font-size: 28px;
  color:#525252;
  font-weight: 400;
  margin-bottom: 40px;
}
.dashboard-wrapper{
  margin: 15px 5px;
  vertical-align: middle;
}
.user-icon, .user-text{
  display: inline-block;
}
.user-text span{
  font-size: 16px;
}