.title{
  font-size: 28px;
  color:#525252;
  font-weight: 400;
  margin-bottom: 40px;
}
.user-icon, .user-text{
  display: inline-block;
}
.user-text span{
  font-size: 16px;
}
.image-upload > input
{
   display: none;
}
.image-upload > label{
  cursor:pointer;
}
.img-circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;

}
.user-image{
  .img-circle{
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
}
.user-name,
.user-position,
.container-details,
.user-dob{
  text-align: center;
}
.user-email,
.user-phone{
  font-size: 20px;
}
.fa-mobile{
  font-size: 50px;
  width: 50px;
}
.fa-envelope{
  width: 50px;
}
.user-name{
  color: #798485;
}
.user-edit-button{
  text-align: center;
}
.user-list{
  min-width: 295px;
  max-height: calc(100vh - 60px - 45px);
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.user-list::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 768px){
  .user-name,
  .user-position,
  .container-details,
  .user-dob{
    text-align: left;
  }
  .user-edit-button{
    text-align: right;
  }
}