// .signin-wrapper{
//   min-height: 100vh;
// }
@import "font-awesome";

.card-4{
  border-radius: 10px;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.15);
}
.title{
  font-size: 28px;
  color:#525252;
  font-weight: 400;
  margin-bottom: 40px;
}
.dashboard-wrapper{
  margin: 15px 5px;
  vertical-align: middle;
}
.header-text{
  margin-bottom: 20px;
}
.user-icon, .user-text{
  display: inline-block;
}
.user-text span{
  font-size: 16px;
}
.image-upload > input
{
   display: none;
}
.image-upload > label{
  cursor:pointer;
}
.img-circle {
  border-radius: 50%;
}
.user-show-wrapper{
  margin:0 auto;
  max-width: 1000px;
}
.user-name,
.user-position,
.container-details,
.user-dob{
  text-align: center;
}
.user-email,
.user-phone{
  font-size: 20px;
}
.user-name{
  color: #1d06f1;
}
.user-edit-button{
  text-align: center;
}

@media screen and (min-width: 768px){
  .user-name,
  .user-position,
  .container-details,
  .user-dob{
    text-align: left;
  }
  .user-edit-button{
    text-align: right;
  }
}