
  <div class="form-group row no-gutters">
    <div class="col-10 col-md-9 text-right">
      <i class="search-icon"></i>
      <%= text_field_tag :query, params[:query], placeholder: "Search for user..." , class:"form-control search-field" %>
    </div>
    <div class="col-2 col-md-3 submit-search text-left">
      <%= submit_tag "Search", class:"btn btn-success" %>
    </div>
  </div>
