<div class="overview-wrapper bg-alice-blue">
  <% if current_user.present? %>
    <section class="row bg-light overview-header">
      <div class="col-5 text-left">
        <h4 class="page-title text-color-black"><%= yield(:title) %></h4> 
      </div>
      <div class="col-7 text-right">
        <div class="page-time"><i class="fa fa-calendar"></i><span class="timer"></span></div> 
      </div>
    </section>
  <% end %>
  <section class="content-area">
    <%= yield %>
  </section>
</div>